.container {
  background-image: url(images/nosepicking.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: grey;
  background-blend-mode: screen;
}

.container {
  padding: 0;
  max-width: 600px;
  text-align: center;
  /* #1EAEDB; */
}

.container::after{
  display: none;
}

.game {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}